div.treeview {
    min-width: 100px;
    min-height: 100px;
    /*max-height: 250px;
    overflow: auto;*/
    padding: 8px;
    border-color: lightgray !important;
    border: solid 1px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

    div.treeview table {
        margin-top: 0.15em;
    }


    div.treeview td:hover {
        background-color: lightgray;
    }

    div.treeview a {
        padding: 0px;
        background-color: transparent;
    }

        div.treeview a:hover {
            color: black;
            text-decoration: none;
            text-shadow: none;
        }

.nodoTreeView {
    padding: 4px;
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/*.treeNode
{
	color: #585858;
	font: 10px Arial, Sans-Serif;
	text-align:left;
	text-transform:uppercase;
}
.rootNode
{
	font-size: 12px;
	width: 100%;
	border-bottom: Solid 1px black;
	font-weight: bold;
	color: Black;
	
}
.leafNode
{
	padding: 4px;
}
.selectedNode
{
	color: White;
	text-indent: 2px;
	font-weight: bold;
	background-color: Black;
	background-image: none;
}
.hoverNode
{
	color: Black;
	background-color: White;
	font-size: 12px;
}


.scroll 
{
	text-align:left;
     width:400px;
     height:515px;     
     overflow:auto;
}*/