<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <customErrors mode="On" defaultRedirect="~/frmError.aspx">
      <error statusCode="404" redirect="~/frmError.aspx"/>
    </customErrors>
    <authentication mode="Windows">
      <forms name=".ASPXFORMS" defaultUrl="frmMenuModuloAdmin.aspx" loginUrl="frmLoginModuloAdmin.aspx" requireSSL="false" protection="All" path="/" timeout="30"/>
    </authentication>
  </system.web>
  <location path="Imagenes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="JS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CSS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <clear/>
    <add name="ConnMySQLPruebas" connectionString="Server=localhost;database=agropet_web;Uid=root;pwd=4dm1nBd*;"/>
    <add name="ConnMySQLProdEnv" connectionString="Server=localhost;database=agropet_web;Uid=root;pwd=4dm1nBd*;"/>
    <!--<add name="ConnMySQLAgropet" connectionString="Server=192.168.1.15;database=WebSites;Uid=Agropet;pwd=SqlSrv2016;" providerName="MySql.Data.MySqlClient"/>-->
    <add name="ConnMySQLAgropet" connectionString="Server=localhost;database=WebSites;Uid=root;pwd=admin;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="rutaImagenesBanners" value="C:\Temporal\Repositorio\ImagenesBanner\"/>
    <add key="rutaImagenesArticulos" value="C:\Temporal\Repositorio\ImagenesArticulos\"/>
  </appSettings>
</configuration>