<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <customErrors mode="On" defaultRedirect="~/frmError.aspx">
      <error statusCode="404" redirect="~/frmError.aspx"/>
    </customErrors>
    <authentication mode="Windows">
      <forms name=".ASPXFORMS" defaultUrl="frmMenuModuloAdmin.aspx" loginUrl="frmLoginModuloAdmin.aspx" requireSSL="false" protection="All" path="/" timeout="30"/>
    </authentication>
  </system.web>
  <location path="Imagenes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="JS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CSS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <!--<add name="Default" connectionString="Data Source=DESKTOP-8EK5U5C\SQLEXPRESS;Initial Catalog=Petcetera;User ID=sa;Password=admin;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="Default" connectionString="Data Source=192.168.1.12;Initial Catalog=Petcetera;User ID=ali.escamilla;Password=3sc4m1ll4;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="rutaImagenesBanners" value="C:\Temporal\Repositorio\ImagenesBanner\"/>
    <add key="rutaImagenesArticulos" value="C:\Temporal\Repositorio\ImagenesArticulos\"/>-->
    <add key="rutaImagenesBanners" value="C:\inetpub\wwwroot\eShop\ImagenesBanner\" />
    <add key="rutaImagenesArticulos" value="C:\inetpub\wwwroot\eShop\ImagenesArticulos\" />
  </appSettings>
</configuration>