body
{
	font-family:Verdana;
	font-size: 11px;
}

table
{
	text-align:left;
}

td
{
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	vertical-align:top;
}

/*.ListSearchExtenderPrompt
{
	font-family: Tahoma;
	font-size: 9pt;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
}*/

/*Modal Popup*/
/*.modalBackground
{
    background-color: #000000;
    filter: alpha(opacity=35);
    -moz-opacity: 0.75;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}*/

/* Controles */

select
{
	border: 1px solid #C0C0C0;
	text-transform: uppercase;	
}

input, textarea
{
	border: 1px solid #C0C0C0;
	text-transform: uppercase;
	color:#666666;
	font-size: 11px;
}

.Cajas_Texto
{
	text-transform: uppercase;
}

.Cajas_Texto_Invalido
{	
	border: 1px solid #D10C0C;
	background:#FFCBCB;
}

/*Secciones*/
.DivSeccion
{
	border: 1px solid #C0C0C0;
    color:White;
    font-size: 12px;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-weight:bold;
    text-decoration: none;
    text-align: center;
    width: 97%;
}

.DivSeccionEspacio
{
	height:6px;
    width:100%;
}

.SeparadorSec
{
	background-repeat:repeat-x;
    background-image:url('../../Imagenes/barunder.JPG');
    color:White;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
    height:14px;
    letter-spacing:2px;
    text-decoration: none;
    text-align: center;
    text-transform:capitalize;
    font-variant:small-caps;
}

.SeparadorPag
{
	background-color: #E70000;
    color:White;
    font-family: Verdana;
    font-size: 13px;
    font-weight:bold;
    letter-spacing:4px;
    height:16px;
    text-decoration: none;
    text-align: center;
    text-transform:uppercase;
}

.separadorNegro
{
    background-repeat:repeat-x;
    background-image:url('../../Imagenes/barunder.JPG');
    color:White;
    font-family: Verdana, Arial, helvetica, Sans-Serif;
    font-size: 12px;
    font-weight:bold;
    height:14px;
    letter-spacing:2px;
    text-decoration:none;
    text-align: center;
    text-transform:capitalize;
    font-variant:small-caps;
}

.separadorGris
{
	background-repeat:repeat-x;
	background-image:url('../../Imagenes/barunder_gris.JPG');
    color:Black;
    font-family: Verdana, Arial, helvetica, Sans-Serif;
    font-size:12px;
    font-weight:bold;
    height:14px;
    letter-spacing:2px;
    text-decoration:none;
    text-align: center;
    text-transform:capitalize;
    font-variant:small-caps;
}

.BordesDivBusquedas
{
	width: 1104px;
	margin: 15px auto;
	border: 1px; 
	border-color:Gray;
	border-style:solid;
}

.BordesDivBusquedas99
{
	width: 99%;
	margin: 15px auto;
	border: 1px; 
	border-color:Gray;
	border-style:solid;
}

.BordesDivBusquedasConSombra
{
	background-color: Gray;
	color: White;
	font-family: Verdana;
	width: 99%;
	margin: 15px auto;
	border: 1px; 
	border-color: Gray;
	border-style: solid;
}

/*Logo Compañia*/
.logo
{
  background-image:url('../../Imagenes/logo_enc.JPG');
  vertical-align:middle;
  width:53px;
  height:46px;
  background-repeat:no-repeat;
}

.Titulo
{
    FONT-SIZE: 10px;
    LINE-HEIGHT: 13px;
    TEXT-DECORATION: none;
    font-weight:bold;     
}

td.Titulo 
{
    background-image:url('../../Imagenes/tdImage.jpg');
    color:White;
    font-size:small;
    font-weight:bold;
    height:59px;
    background-repeat:repeat-x;
}

.ButtonGeneral
{
    background-color:#808080;
    color:White;
    font-weight:bold;
    width: 110px;
    background: #FF0000 url('../../Imagenes/fdButtonRed.jpg') repeat-x;
    border-top-width:0px;
    border-left-width:0px;
    height:20px;
    font-size: 10pt;
}



/*
 Estilos srv_cupon_notificaciones.aspx
*/

/*Image.logIzq
{
    background-image:url('../../Imagenes/n_nissan_rt.gif');
    background-repeat:no-repeat;
    width:84px;
    height:13px;
}

Image.top
{
    background-image:url('../../Imagenes/3350z_spec_pi1.jpg');
    background-repeat:no-repeat;
    background-position:center;
    width:440px;
    height:59px;    
}

Image.izqDown
{
    background-image:url('../../Imagenes/3350z_spec_pi2.jpg');
    background-repeat:no-repeat;
    width:280px;
    height:96px;   
}

/*
	Estilo para un validation summary
*/

.validationsummary 
{
	 border: 1px solid #FF0000;
	 font-size: 12px;
	 width: 200px;
	 text-align:left;
}	

/*.validationheader
{
	text-align:center;
	font-size: 11px;
	font-weight: bold;
	background: #FF0000 url("../../Imagenes/FondoBotonRojo.png") repeat;
	background-color:#808080;
	color: #FFFFFF;
	border-bottom: 1px solid #FF0000;
}*/

.validationsummary ul 
{
	font-size: 11px;
	color: #FF0000;
	font-style: italic;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.validationsummary ul li 
{
	padding-bottom: 0px;
	padding-top: 0px;
}

/* --- Estilos agregados por LARD --- */

.DivBotonesPrincipales
{
    width:100%;
    background-color:#EBEBEB;
}

.separadorRojo
{
	background-color: #E70000; /*#9E0404; */
    /*color:#3B3232;*/
    color:White;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    font-weight:bold;
    letter-spacing:4px;
    height:16px;
    text-decoration: none;
    text-align: center;
    text-transform:uppercase;	
}

.cuadroTextoBuscar
{
    background-color:#FFFFFF; 
    border: 1px solid #666666; 
    font-size:12px; 
    color: #666666;
    width:120px;
    text-transform:uppercase;
}

.ddlGeneral
{
    background-color:#e3e3e3; 
    border: 1px solid #666666; 
    font-family:Verdana;
    font-size:10px; 
    color: #000000;
    text-align: left;
    width: 200px;
}

.ddlCorto
{
    background-color:#e3e3e3; 
    border: 1px solid #666666; 
    font-family:Verdana;
    font-size:10px; 
    color: #000000;
    text-align: left;
    width: 95px;
}

.bloqueIzq
{
    padding: 0px 0px 0px 0px;
    text-align: left;
    vertical-align: middle;
    display: inline;    
}

.etiquetaControlesWeb
{
    text-align:right;
    font-size:11px;
    font-family:Verdana;
    font-style:normal;
    color:Black;
}

/*.etiquetaTitulo
{
    text-align:right;
    font-size:14px;
    font-family:Verdana;
    font-style:normal;
    font-weight: bold;
    color: White;
    /*color:Black;
}*/

.Etiqueta
{
    font-weight:bold;
    font-size:10px;
    color:#666666;
}

.EtiquetaAviso
{
    font-weight:bold;
    font-size:10px;
    color:#E80000;
}

.EtiquetaNoRO
{
    font-weight:bold;
    font-size:10px;
    color:#000000;
}

.Centrar
{
    text-align: center;
}

.cajaTextoNormal
{
    background-color:#e3e3e3; 
    border: 1px solid #666666;
    font-family: Verdana;
    font-size: 12px; 
    color: #000000;
    text-align: left;
    text-transform:uppercase;
}

.cajaTextoPathDll
{
    background-color:#e3e3e3; 
    border: 1px solid #666666;
    font-family: Verdana;
    font-size: 12px; 
    color: #000000;
    text-align: left;
    text-transform: none;
}

.cajaTextoLower
{
    background-color:#e3e3e3; 
    border: 1px solid #666666;
    font-family: Verdana;
    font-size: 12px; 
    color: #000000;
    text-align: left;
    text-transform: lowercase;
}

.cajaTextoCapital
{
    background-color:#e3e3e3; 
    border: 1px solid #666666;
    font-family: Verdana;
    font-size: 12px; 
    color: #000000;
    text-align: left;
    text-transform: capitalize;
}

